






<app-menu></app-menu>
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>PAMER YOURSELF PRETTY</h1>
            <p>Treat yourself of our signature services. Our beloved <br>
              beauty experts will wow your brows,get your glows and so <br>
              much more. You'll leave looking and feeling more gorgeous than ever
                before .</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">I RESERVE</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Services Section -->

<div id="services" class="text-center">
  <div class="container"  *ngFor="let data of datas">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>{{data.label }}</h2>
      <hr>
      <p>{{data.description }}</p>
      <img class="card-title" src = 'http://{{ data.imagePath }} '>
    </div>


    <div class="col" *ngFor="let Services of data.Services">

      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h4>{{Services.label_service }}</h4>
        <p>{{Services.description_service }}</p>
      </div>



    </div>
  </div>
</div>
<!--data-->


<!-- Portfolio Section -->


<div id="portfolio">
    <app-slaider></app-slaider>
  </div>
<!-- Contact Section -->

<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <p>Copyright &copy; 2018 Standout. Designed by </p>
  </div>
</div>
-->
